{% extends 'layout.twig' %}
{% block additionalCSS %}


{% endblock %}
{% block content %}
		  <!--main-content-->
		        <h1>Welcome to your admin Panel</h1>
		        <a href="studentsList">Students</a>&nbsp;
		        <a href="teachersList">Teachers</a>&nbsp;
		        <a href="financialsList">Financials</a>&nbsp;
		        <a href="logout">Logout</a>
{% endblock %}	