<!-- Modal add student -->
<div id="addStdModal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add teacher</h4>
            </div>
            <div class="modal-body">
                <div class="centrar form-card">
                    <form id="sendStd" class="form-horizontal">
                        <div class="form-group ">
                            <label for="registration_lastname" class="col-sm-2 control-label">
                                <span class="form_required">*</span>
                                Last name
                            </label>
                            <div class="col-sm-8">
                                <input size="40" class="form-control" name="lastname" type="text" id="registration_lastname" required="">
                                <input size="40" class="form-control" name="modal" type="hidden" id="modal" value="yes">
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group ">
                            <label for="registration_firstname" class="col-sm-2 control-label" required="">
                                <span class="form_required">*</span>
                                Name
                            </label>
                            <div class="col-sm-8">
                                <input size="40" class="form-control" name="firstname" type="text" id="registration_firstname" required=""></div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group ">
                            <label for="idCard" class="col-sm-2 control-label">
                                <span class="form_required">*</span>
                                Id card
                            </label>
                            <div class="col-sm-8">
                                <input id="idCard" class="form-control" name="idCard" type="text" required=""></div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group ">
                            <label for="registration_email" class="col-sm-2 control-label">
                                <span class="form_required">*</span>
                                E-mail
                            </label>
                            <div class="col-sm-8">
                                <input size="40" class="form-control" name="email" type="email" id="registration_email" required=""></div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group ">
                            <label for="registration_email" class="col-sm-2 control-label">
                                <span class="form_required">*</span>
                                Admission date
                            </label>
                            <div class="col-sm-8">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' class="form-control" name="adDate" />
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group ">
                            <label for="subject" class="col-sm-2 control-label">
                                Degree
                            </label>
                            <div class="col-sm-8">
                                <input size="40" class="form-control" name="degree" type="text" id="degree" required=""></div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group ">
                            <label for="subject" class="col-sm-2 control-label">
                                Subject
                            </label>
                            <div class="col-sm-8">
                                <input size="40" class="form-control" name="subject" type="text" id="subject" required=""></div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group ">
                            <label for="pass1" class="col-sm-2 control-label">
                                <span class="form_required">*</span>
                                Password
                            </label>
                            <div class="col-sm-8">
                                <input id="pass1" size="20" autocomplete="off" class="form-control" name="pass1" type="password" required=""></div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group ">
                            <label for="pass2" class="col-sm-2 control-label">
                                <span class="form_required">*</span>
                                Confirm password
                            </label>
                            <div class="col-sm-8">
                                <input id="pass2" size="20" autocomplete="off" class="form-control" name="pass2" type="password" required=""></div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group ">
                            <label for="registration_phone" class="col-sm-2 control-label">
                                Phone
                            </label>
                            <div class="col-sm-8">
                                <input size="20" class="form-control" name="phone" type="text" id="registration_phone" required=""></div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group ">
                            <label for="registration_language" class="col-sm-2 control-label  ">
                                Language
                            </label>
                            <div class="col-sm-8">
                                <div class="btn-group bootstrap-select show-tick form-control">
                                    <div class="dropdown-menu open" role="combobox">
                                        <div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off" role="textbox" aria-label="Search"></div>
                                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                            <li data-original-index="0"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Български</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Ελληνικά</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Bahasa Indonesia</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Bosanski</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="4"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Deutsch</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="5"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">English</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="6" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">Español</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="7"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Euskara</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="8"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Français</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="9"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Galego</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="10"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Italiano</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="11"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Latviešu</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="12"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Magyar</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="13"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Nederlands</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="14"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Polski</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="15"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Português do Brasil</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="16"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Português europeu</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="17"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Slovenčina</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="18"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Slovenščina</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="19"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Tagalog</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        </ul>
                                    </div><select class="selectpicker show-tick form-control" data-live-search="true" name="language" id="registration_language" tabindex="-98" required="">
                                        <option value="bulgarian">Български</option>
                                        <option value="greek">Ελληνικά</option>
                                        <option value="indonesian">Bahasa Indonesia</option>
                                        <option value="bosnian">Bosanski</option>
                                        <option value="german">Deutsch</option>
                                        <option value="english">English</option>
                                        <option value="spanish" selected="selected">Español</option>
                                        <option value="basque">Euskara</option>
                                        <option value="french">Français</option>
                                        <option value="galician">Galego</option>
                                        <option value="italian">Italiano</option>
                                        <option value="latvian">Latviešu</option>
                                        <option value="hungarian">Magyar</option>
                                        <option value="dutch">Nederlands</option>
                                        <option value="polish">Polski</option>
                                        <option value="brazilian">Português do Brasil</option>
                                        <option value="portuguese">Português europeu</option>
                                        <option value="slovak">Slovenčina</option>
                                        <option value="slovenian">Slovenščina</option>
                                        <option value="tagalog">Tagalog</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="modal-footer">
                                <input type="submit" name="saveStd" id="saveStd">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>