<!DOCTYPE html>
<html lang="es">
<head>
<title>Curso de ingles | Quevedo</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="https://help75interactive.com/favicon.ico" type="image/x-icon"/>
        <link rel="apple-touch-icon" href="https://help75interactive.com/favicon.ico" type="image/x-icon"/>
<meta name="keywords" content="Curso+de+ingles+en+quevedo, Clases+Online, Ingles Online, English Learning Center, Clases de Ingles en Quevedo, Curso de Ingles en Quevedo, El mejor curso de ingles, Cursos Gratis, Jesus Domingo Araujo, Certificarse en Ingles, Ingles Tecnico, Ingles Interactivo, Practico." />
  <!-- AJAX -->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
  <!-- Bootstrap CSS -->
  <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Datatables --> 
  <!--<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">-->
  <link rel="stylesheet" href="css/jquery.dataTables.min.css">
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="panelStudents/css/style.css" rel="stylesheet" type="text/css" media="all"/>
  <!-- Bootstrap Date-Picker Plugin -->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>-->
  <link rel="stylesheet" href="css/bootstrap-datepicker3.css"/>
  {% block additionalCSS %}
  {% endblock %}
</head>
<body>
	<div class="container">
		{% block content %}
    {% endblock %} 
	</div>
<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
  <script src="js/jquery.min.js"></script>
  <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <script src="js/bootstrap.min.js"></script>
  <!--<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->
  <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
  <!-- Bootstrap Date-Picker Plugin -->
  <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>-->
  <script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
    {% block additionalScripts %}
    {% endblock %}
</body>
</html>