{% extends 'layout.twig' %}
{% block content %}
<div class="container-card-login">
	<ul>
		<li>{{ student.name }}</li>
		<li>{{ student.lastName }}</li>
		<li>{{ student.email }}</li>
	</ul>
</div>
{% endblock %}