{% extends 'layout.twig' %}
{% block additionalCSS %}


{% endblock %}
{% block content %}
		  <!--main-content-->
		        <h1>Welcome to your financial Panel</h1>
		        <a href="profileTeacher">Profile</a>&nbsp;
		        <a href="editProfileTeacher">Settings</a>&nbsp;
		        <a href="logout">Logout</a>
{% endblock %}	